  <p></p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"><input type="checkbox" class="checkthis" /></th>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Cell Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers$" >
            <th scope="row"><input type="checkbox" class="checkthis" /></th>
            <td>{{ customer._id }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.cellPhone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.age }}</td>
            <td scope="row"><button class="btn btn-success btn-sm" ng-click="deleteUser(customer)">Edit</button>
                            <button class="btn btn-danger btn-sm" ng-click="deleteUser(customer)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

